<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd">
           
           <!-- Configuring the spring bean -->
           <bean id="hkcp1" class="com.zaxxer.hikari.HikariDataSource">
                   <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
                   <property name="jdbcUrl" value="jdbc:mysql:///SPRING_FACTORY"/>
                   <property name="username" value="root"/> 
                    <property name="password" value="Raja@123"/> 
                    <property name="minimumIdle" value="10" />
                    <property name="maximumPoolSize" value="1000"/>
                    <property name="idleTimeout" value="30000"/>
           </bean>
           
           <!-- Configuring the spring bean -->
           <bean id="hkcp2" class="com.zaxxer.hikari.HikariDataSource">
                   <property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
                   <property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:xe"/>
                   <property name="username" value="system"/> 
                    <property name="password" value="root"/> 
                    <property name="minimumIdle" value="10" />
                    <property name="maximumPoolSize" value="1000"/>
                    <property name="idleTimeout" value="30000"/>
           </bean>
           
           <!-- Component scanning -->
           <context:component-scan base-package="com.nt"/>
           
           <!-- Configuring the Properties file -->
           <context:property-placeholder location="com/nt/commons/Info.properties"/>
           
           <!-- Providing the alias to the database which we are getting from the properties file -->
           <alias name="${dataSource.id}" alias="db"/>
           
<!--            <alias name="${dao.id}" alias="dao"/> -->
           
 </beans>